In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv("train.csv")
df.shape

(404290, 6)

In [3]:
df.sample(10)

,id,qid1,qid2,question1,question2,is_duplicate
357306,357306,221747,184466,What are some major social faux pas to avoid w...,What are some major social faux pas to avoid w...,0
138468,138468,220463,18531,What can I do to have a flat tummy?,What are the best ways to reduce and eliminate...,0
195903,195903,26498,296479,Who would you vote for: Donald Trump or Hillar...,I'm undecided between Hillary Clinton and Dona...,0
241185,241185,353150,353151,Can a rat kill a lizard?,Can a lizard kill me?,0
334180,334180,95470,23541,"Why is it when I am myself, people find me una...",How do you deal with people who talk behind yo...,0
373897,373897,504756,140168,Am I the only woman who hates wearing a bra?,I'm a Brahmin girl married to a non-Brahmin wh...,0
145589,145589,230176,230177,What's it like working at Dropbox?,What is it like to work at Dropbox?,1
307321,307321,430980,430981,How is NASCAR purported to be a domain for whi...,Why do white males support Trump?,0
33240,33240,61100,61101,Why do people believe in god?,Why don't atheists believe in any gods?,0
182699,182699,279560,279561,What are the issues related to GST from UPSC p...,Why is studying so unpleasant for most of us f...,0

In [4]:
new_df=df.sample(30000)

In [5]:
# missing values
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [6]:
new_df.duplicated().sum()

0

In [7]:
ques_df=new_df[['question1','question2']]
ques_df.head()

,question1,question2
209948,How does one feel while dying?,How does it feel to die?
366038,Is it possible to prepare porridge with Quaker...,Is it ok to drink cold milk at night?
72367,What is the correct way of dry cleaning a leat...,How do I think like Facebook and Quora founder...
96991,What words wouldn't you use to describe the US?,What words wouldn't you use to describe Bangal...
216845,How do you transfer an iBook from an iPad to a...,What is the easiest way to transfer files from...

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
# Merging texts
questions = list(ques_df['question1'])+list(ques_df['question2'])

cv=CountVectorizer(max_features=3000)
q1_arr,q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [9]:
temp_df1 = pd.DataFrame(q1_arr, index= ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index= ques_df.index)
temp_df = pd.concat([temp_df1, temp_df2] , axis=1)
temp_df.shape
#3000 bow for q1 and 2 each

(30000, 6000)

In [10]:
temp_df['is_duplicate']= new_df['is_duplicate']

In [11]:
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
209948,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
366038,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72367,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96991,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
216845,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=1)

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf = RandomForestClassifier()
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.7371666666666666

In [19]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-1.7.6-py3-none-win_amd64.whl (70.9 MB)
     -------------------------------------- 70.9/70.9 MB 604.8 kB/s eta 0:00:00
Requirement already satisfied: numpy in c:\users\thisi\anaconda3\lib\site-packages (from xgboost) (1.24.3)
Requirement already satisfied: scipy in c:\users\thisi\anaconda3\lib\site-packages (from xgboost) (1.9.1)
Installing collected packages: xgboost
Successfully installed xgboost-1.7.6
Note: you may need to restart the kernel to use updated packages.